/* 当前主页index.html的样式表 */

/* 顶部导航条 */
.topbar-wrapper{
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #333333;
}
.topbar a{
    font-size: 13px;
    color:#b0b0b0;
    display: block;
}
.topbar a:hover{
    color: #fff;
}
.topbar .line{
    font-size: 10px;
    color: #424242;
    margin: 0 8px;
    margin-top: -1px;
}

.service, .topbar li{
    float: left;
}

.app{
    position: relative;
}
.app::after{
    content: '';
    display: none;
    position: absolute;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
}
.app .qrcode,
.app:hover::after{
    display: block;
    height: 148px;
}
.app .qrcode{
    position: absolute;
    /* height: 148px; */
    left: -40px;
    height: 0;
    overflow: hidden;
    width: 124px;
    line-height: 1;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,.3);
    transition: height 0.3s;
    z-index: 9999;
}
.app .qrcode img{
    width: 90px;
    margin: 17px;
    margin-bottom: 14px;
}
.app .qrcode span{
    font-size: 14px;
    color: black;
}

.shopping {
    margin-left: 27px;
    margin-top: -1px;
}
.shopping, .user-info{
    float: right;
}
.shopping a{
    width: 120px;
    text-align: center;
    background-color: #424242;
}
.shopping:hover a{
    background-color: #fff;
    color: orange;
}
.shopping i{
    margin-right: 2px;
}
